{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Profile</h2>

{{ user.username }}
{{ user.email }}
{{ user }}

Amis
{{ nbfriends }}
{% for friends in friendsallow %}
<br />
<a href="{{ path('oc_platform_finduser', {'find': friends.friendsid}) }}">lien</a>
<a href="{{ path('oc_platform_postprivate', {'id': friends.friendsid}) }}">Envoyé un message</a>
{% endfor %}
<br />
Invitation reçu en attente
{% for linkwaiting in linkwaitings %}
<br />
<a href="{{ path('oc_platform_alowuser', {'id': linkwaiting.friendsid}) }}"> accepter {{ linkwaiting.friendsid }}</a><br />

{% endfor %}
<p>{{ path('oc_platform_home') }}</p>
<img src="http://localhost/symfony-rev3/mooc-symfony-iteration-16/gamers/web/{{ profileAvatar }}" >imageavatar
<br />
<br />

Messagerie interne ci-dessous
{% for message in messages %}

titre 
<h2>{{ message.title }}</h2><br />

<a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}">Lire le message</a>
{% endfor %}

<br />
<br />

<a href="{{ path('oc_platform_edituseractive')}}"> Modifier mon profile </a>  
<a href="{{ path('fos_user_change_password')}}"> modifier mon mot de pass</a>  

<br /> 

{% if teamview.title is defined %}
{{teamview.title}} teeam
{{teamview.content}} teeam
{% else %}

<a href="{{ path('fos_user_group_new')}}"> Crée une team </a> 

<p>Ci dessous description de la team</p>
{{ include("OCPlatformBundle:Advert:form.html.twig") }}
{% endif %}

<p>Affiche la liste de tous les menbres du groupe</p>

{% for user in teamviewusers %}
{{user.userid}} menbre du groupe
{% endfor %}

<p>Affiches tous les groupes (teams)</p>

{% for user in teamviewusersall %}
<p>{{user.id}} menbre du groupe</p>
<p>{{user.title}} menbre du groupe</p>
<p>{{user.content}} menbre du groupe</p>
{% endfor %}

{% endblock %}
