{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}




<div class="nk-teammate-card">
                <div class="nk-teammate-card-photo bio">
                     <h1>Biographie</h1>
					
					{% if bioview.title is defined %}
					{{bioview.title}}
					{{bioview.content|raw}}
					
						{% if app.user == user.username %}
						<a href="{{ path('oc_platform_edit', {'slug': user.username ~ 'bio'}) }}" class="btn btn-default"> Modifier </a>
						{% endif %}
					
					{% else %}

						{% if app.user == user.username %}
						<a href="{{ path('fos_user_group_new')}}"> Crée ma bio </a> 
						{% endif %}
					
					{% endif %}



                </div>

                <div class="nk-teammate-card-info">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="avatar" src="http://localhost/symfony-rev3/mooc-symfony-iteration-16/gamers/web/{{ profileAvatar }}" alt="">
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>

                                        <td><strong class="h5">Pseudo:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ user.username }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h5">Mail:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ user.email }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h5">Position:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">Mid</strong></td>
                                    </tr>

                                    </tbody>				
                                </table>
								{% if app.user == user.username %}
									<a href="{{ path('oc_platform_edituseractive')}}"> Modifier mon profile </a> |  <a href="{{ path('fos_user_security_logout')}}">Déconnection</a>
								{% else %}
									<a href="{{ path('oc_platform_postprivate', {'id': user.id}) }}">Envoyé un message</a> |
									<a href="{{ path('oc_platform_pagegamer', {'page': user.username}) }}">Page du joueur</a> 
								{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">520</strong>
                            </td>
                            <td>
                                <strong class="h5">Points</strong>
                                <div>#5 in World Championship</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">8</strong>
                            </td>
                            <td>
                                <strong class="h5">Trophées</strong>
                                <div>#23 in World Championship</div>
                            </td>
                        </tr>
							
								<tr>
									<td>
										<a href="{{ path('oc_platform_friends', {'id': user.id}) }}"><strong class="h3">{{ nbfriends }}</strong></a>
									</td>
									<td>
										<a href="{{ path('oc_platform_friends', {'id': user.id}) }}"><strong class="h5">Nombre d'amis</strong></a>
										<div><a href="{{ path('oc_platform_friends', {'id': user.id}) }}">{{ linkwaitingsnb }}# Demandes en attente</a></div>
									</td>
								</tr>
							
                        </tbody>
                    </table>
                </div>
            </div>


<h2></h2>
<p></p>


{% if app.user == user.username %}

<p>Messagerie interne ci-dessous</p>

<div class="container">
	<div class="row">
		<div class="box-body no-padding">

			
                  <hr>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <tbody>

						  {% for message in messages %}

                        <tr>
                          <td><input type="checkbox"></td>
                          <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                          <td class="mailbox-name"><a href="read-mail.html">{{ message.author }}</a></td>
                          <td class="mailbox-subject"><a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}"><b>{{ message.title }}</b> - {{ message.content|truncate(50) }}</a></td>
                          <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                          <td class="mailbox-date">28 mins ago</td>
                        </tr>
						 

						
						{% endfor %}

                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <hr>

              </div><!-- /. box -->
            </div><!-- /.col -->


<br />
<br /> 



<a href="{{path('oc_platform_add')}}"> Ajouter une annonces </a>

{% endif %}

<!--
{% if teamview.title is defined %}
{{teamview.title}} teeam
{{teamview.content}} teeam
{% else %}

<a href="{{ path('fos_user_group_new')}}"> Crée une team </a> 

<p>Ci dessous description de la team</p>
{{ include("OCPlatformBundle:Advert:form.html.twig") }}
{% endif %}

<p>Affiche la liste de tous les menbres du groupe</p>

{% for user in teamviewusers %}
{{user.userid}} menbre du groupe
{% endfor %}
-->





<!--
<p>Affiches tous les groupes (teams)</p>

{% for user in teamviewusersall %}
<p>{{user.id}} menbre du groupe
{{user.title}} menbre du groupe
{{user.content}} menbre du groupe</p>
{% endfor %}


-->

{% endblock %}

