{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}




<div class="nk-teammate-card">
                <div class="nk-teammate-card-photo bio">
                    <h1>Biographie</h1>
					
					{% if bioview.title is defined %}
					{{bioview.title}}
					{{bioview.content|raw}}
					
						{% if app.user == user.username %}
						<a href="{{ path('oc_platform_edit', {'slug': user.username ~ 'bio'}) }}" class="btn btn-default"> Modifier </a>
						{% endif %}
					
					{% else %}

						{% if app.user == user.username %}
						<a href="{{ path('fos_user_group_new')}}"> Crée ma bio </a> 
						{% endif %}
					
					{% endif %}



                </div>

                <div class="nk-teammate-card-info">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="avatar" src="http://localhost/symfony-rev3/mooc-symfony-iteration-16/gamers/web/{{ profileAvatar }}" alt="{{user.username}}">
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>

                                        <td><strong class="h5">Pseudo:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ user.username }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h5">Mail:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ user.email }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h5">Position:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">Mid</strong></td>
                                    </tr>

                                    </tbody>				
                                </table>
								{% if app.user == user.username %}
									<a href="{{ path('oc_platform_edituseractive')}}"> Modifier mon profile </a> | <a href="{{path('oc_platform_add')}}"> Poster une actualité </a>
								{% else %}
									<a href="{{ path('oc_platform_postprivate', {'id': user.username}) }}">Envoyé un message</a> |
									<a href="{{ path('oc_platform_pagegamer', {'page': user.username}) }}">Page du joueur</a>
								<br/>
								{% endif %}
								
									{% if friendsallow == false %}
										<a href="{{ path('oc_platform_addfriend', {'id': user.id}) }}"> Demande d'amis </a>
									{% else %}
									{% endif %}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">520</strong>
                            </td>
                            <td>
                                <strong class="h5">Points</strong>
                                <div>#5 in World Championship</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">8</strong>
                            </td>
                            <td>
                                <strong class="h5">Trophées</strong>
                                <div>#23 in World Championship</div>
                            </td>
                        </tr>
							
								<tr>
									<td>
										<a href="{{ path('oc_platform_friends', {'id': user.id}) }}"><strong class="h3">{{ nbfriends }}</strong></a>
									</td>
									<td>
										<a href="{{ path('oc_platform_friends', {'id': user.id}) }}"><strong class="h5">Nombre d'amis</strong></a>
										<div><a href="{{ path('oc_platform_friends', {'id': user.id}) }}">{{ linkwaitingsnb }}# Demandes en attente</a></div>
									</td>
								</tr>
							
                        </tbody>
                    </table>
                </div>
            </div>

<p></p>


{% if app.user == user.username %}

<p>Messagerie interne ci-dessous</p>
<p>Liste des messages reçus</p>
<div class="container">
	<div class="row">
		<div class="box-body no-padding">	
                  <hr>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <tbody>
						<!-- donner la possibliter de pouvoir supprimer les messages -->
						{% for message in messages %}

							<tr>
							  <td>									
								   <div class="modal fade" id="userDialog{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
												</div>
												<div class="modal-body">
													Voulez vous vraiment Effacer
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
													<a href="{{ path('oc_platform_deletemessage', { 'id': message.id })  }}" class="btn btn-danger">Confirm</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->									
								</td>
							  <td class="mailbox-name">	
								  <a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}">{{ message.author }}</a>  
							  </td>
							  <td class="mailbox-subject"><a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}"><b>Sujet : {{ message.title }}</b>  {{ message.content|truncate(50)|raw }}</a></td>
							  <td class="mailbox-date">{{ message.date|date('d/m/Y') }}</td>
							  <td><button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ message.id }}"><span class="glyphicon glyphicon-remove"> Effacer</span>
							  </button></td>
							</tr>
				
						{% endfor %}

                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <hr>

              </div><!-- /. box -->
            </div><!-- /.col -->


<br />
<br /> 



<p>Messagerie interne ci-dessous</p>
<p>Liste des messages envoyés</p>
<div class="container">
	<div class="row">
		<div class="box-body no-padding">	
                  <hr>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                      <tbody>
						<!-- donner la possibliter de pouvoir supprimer les messages -->
						{% for message in messagesends %}

							<tr>
							  <td>									
								   <div class="modal fade" id="userDialog{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
												</div>
												<div class="modal-body">
													Voulez vous vraiment Effacer
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
													<a href="{{ path('oc_platform_deletemessage', { 'id': message.id })  }}" class="btn btn-danger">Confirm</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->									
								</td>
							  <td class="mailbox-name">	
								  <a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}">{{ message.userreceived }}</a>  
							  </td>
							  <td class="mailbox-subject"><a href="{{ path('oc_platform_messagebox', {'id': message.id}) }}"><b>Sujet : {{ message.title }}</b>  {{ message.content|truncate(50)|raw }}</a></td>
							  <td class="mailbox-date">{{ message.date|date('d/m/Y') }}</td>
							  <td><button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ message.id }}"><span class="glyphicon glyphicon-remove"> Effacer</span>
							  </button></td>
							</tr>
				
						{% endfor %}

                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <hr>

              </div><!-- /. box -->
            </div><!-- /.col -->


<br />
<br /> 

<a href="{{ path('fos_user_security_logout')}}">Déconnection</a>



{% endif %}

<!--
{% if teamview.title is defined %}
{{teamview.title}} teeam
{{teamview.content}} teeam
{% else %}

<a href="{{ path('fos_user_group_new')}}"> Crée une team </a> 

<p>Ci dessous description de la team</p>
{{ include("OCPlatformBundle:Advert:form.html.twig") }}
{% endif %}

<p>Affiche la liste de tous les menbres du groupe</p>

{% for user in teamviewusers %}
{{user.userid}} menbre du groupe
{% endfor %}
-->





<!--
<p>Affiches tous les groupes (teams)</p>

{% for user in teamviewusersall %}
<p>{{user.id}} menbre du groupe
{{user.title}} menbre du groupe
{{user.content}} menbre du groupe</p>
{% endfor %}


-->

{% endblock %}

