{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Profile</h2>

{{ user.username }}
{{ user.email }}
{{ user }}

Amie 
{{ nbfriends }}
{% for friends in friendsallow %}
<br />
<a href="{{ path('oc_platform_finduser', {'find': friends.friendsid}) }}">lien</a>
{% endfor %}
<br />
Invitation reçu en attente
{% for linkwaiting in linkwaitings %}
<br />
<a href="{{ path('oc_platform_alowuser', {'id': linkwaiting.friendsid}) }}"> accepter {{ linkwaiting.friendsid }}</a><br />

{% endfor %}

<br />
<br />

Messagerie interne ci-dessous
{% for message in messages %}
<p>
titre 
{{ message.title }}<br />
Message
{{ message.content }}<br />
Auteur
{{ message.content }}
</p>
{% endfor %}


<br />
<br />
<br />

<a href="{{ path('oc_platform_edituseractive')}}"> Modifier mon profile </a>

{% endblock %}
